body {
  background-color: #000;
}

a {
  color: #fff;
  text-decoration: underline;
}

a:hover {
  color: grey;
}

.row {
  margin-top: 20px;
  margin-bottom: 20px;
}

.title {
  margin-top: 50px;
}

.site {
  color: #fff;
}

.speaker__pic {
  width: 100px;
  height: 100px;
  border: 1px white solid;
  margin-right: 10px;
}

.media {
  padding-left: 15px;
}

.media-body {
  margin-top: 10px;
}
